<form name="requestLoan">
    <div class="form-group">
        <label for="x">x</label>
        <input class="form-control"
               cam-variable-type="Integer"
               cam-variable-name="x"
               name="x" readonly="true"/>
    </div>
    <div class="form-group">
        <label for="y">y</label>
        <input class="form-control"
               cam-variable-type="Integer"
               cam-variable-name="y"
               name="y" readonly="true"/>
    </div>
    <div class="form-group">
        <label for="op">op</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="op"
               name="op" readonly="true"/>
    </div>
    <div class="form-group">
        <label for="result">Ergebnis</label>
        <input class="form-control"
               cam-variable-type="Double"
               cam-variable-name="result"
               name="result" />
    </div>
</form>
